
  
  /* Element Selectors */

  
  h1,
  h2 {
    margin: 20px;
  }
  
  main {
    padding: 60px 0;
  }
  

  
  a {
    text-decoration: none;
    color: #FDF8F5;
  }
  

  
  header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-bottom: 10px solid;
    border-color:cadetblue;
    background-color: cadetblue;
    height: 100px;
    
  }

    .div1 {
      position: relative;
      text-align: center;
      top: 150px;
      min-height: 480px;
  }
  img {
    
    display: flex;
    margin: 0px auto;
    
  }
  
.deer {
    position: relative;
    left: 260px;
    top: 50px;
    display: inline-block;
}

.gee {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
      
}



.cont {
    line-height: 40px;
   
    background-color: #f8f9fa;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: rgb(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: gray;
}

#derk {
    margin-left: 20px;
}

li {
    list-style-type: none;
}

  footer {
    line-height: 40px;
    background-color: #f8f9fa;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: gray;
    
        
  }
  





