/* saved colors which are used repeatedly */
:root {
--azure: rgb(0, 127, 255);
--lightazure: rgba(0, 128, 255, 0.664);
--dark:#2A2C2B;
--lightdark: #2a2c2b9f;
--lightyellow: rgb(255, 255, 224);
--error: rgba(255, 0, 0, 0.61);
}

/* setting main font */
body {
    font-family: ubuntu, arial;
}

h1 {
    display: block; 
    background-image: linear-gradient(to bottom right, var(--dark), var(--lightdark));
    color: white;
    padding-top: 25px;
    max-width: 1216px;
    height: 70px;
    padding-left: 8px;
    
}

/* contains the navbar and main content divs */
.second-container {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

/* the below 78 lines are buttons and input areas */
#search-area {
    background-color: rgba(211, 211, 211, 0.295);
    padding: 8px;
}

.input-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#search {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 215, 215);
    padding: 14px 21px 13px 14px;
    margin-right: 3px;
    border-radius: 3px;
}

#search:hover {
    border-width: 1px 1px 1px 1px;
    border-color: rgb(218, 215, 215);
    border-style:solid;
    padding: 14px 21px 13px 14px;       
    box-shadow: 0px 0px 3.5px 3.5px rgb(218, 215, 215, 0.5);
}

#search:focus,
#clear-srch:focus {
    outline: none;    
}

#search-button {
    width: 42px;
    height: 42px;
    border-width: 2px;
    border-style: solid;
    background-image: url("../images/srcgraphic1.png");
    border-color: rgb(0, 128, 255);
    cursor: pointer;
    border-radius: 3px;
}

#search-button:hover {
    border-style: solid;
    border-color: rgba(0, 128, 255, 0.432);;
}

#clear-srch {
    width: 255px;
    height: 42px;
    font-family: ubuntu, arial;
    border-color: lightgrey;
    color: white;
    margin-top: 20px;
    border-width: 1px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, var(--azure), var(--lightazure));
}

#clear-srch:hover {
    width: 255px;
    height: 42px;
    font-family: ubuntu, arial;
    border-color: lightgrey;
    color: white;
    margin-top: 20px;
    border-width: 1px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, var(--azure), rgb(157, 206, 255));
}

/* CSS for the area which displays the users previous searches */
.previous {
    line-height: 27px;
    height: 35px;
    padding: 6px 0px 0px 12px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: lightgrey;
    background-color: white;
    cursor: pointer;
}

.previous:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.previous:last-child {
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.previous:hover {
    background-color: rgb(238, 238, 238);
}


/* This is the results area which shows the searched city */
.city-display {
    margin-left: 35px;
}

.border-div {
    border-style: none;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
}

#city-name {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    min-height: 40px;
    margin: 1em 0em;
    padding-left: 10px;

}

.params {
    margin: 25px 0px;
    padding-left: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
}

#uv {
    display: flex;
    flex-direction: row;
}

.uv-low,
.uv-moderate,
.uv-severe {
    padding: 5px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.uv-low {
    background-color: rgba(0, 255, 76, 0.829);
}
.uv-moderate {
    background-color: rgba(248, 207, 25, 0.829);
}
.uv-severe {
    background-color: rgba(175, 8, 8, 0.829);
}



/* This area is the CSS for the 5 day forecast section */
.forecast-area {
    display: none;
    flex-direction: column;
    margin-left: 30px;
    border-radius: 5px;
}

#forecast {
    margin-left: 10px;
}

.forecast-rows {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: white;
    justify-content: space-between;
}

/*  individual divs for each day's forecast*/
.forecast-display {
    border-style: solid;
    border-width: 1px;
    border-color:  lightgrey;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    background-image: linear-gradient(to bottom right, var(--azure), var(--lightazure));
    border-radius: 3px;
}

/* each forcast text line */
.forecast-line1 {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.forecast-line2 {
    margin: 5px 0px;
}

.icon-future {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}


/* some changes to make it look decent at different screen sizes */
@media (max-width: 860px) {

    h2 {
      font-size: 1.7rem;
    }

    .second-container {
        flex-direction: column;
    }
    
    #previous-searches,
    #remove-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .previous {
        padding: 3px 5px 0px 5px;
        border-width: 1px;
        margin: 2px;
        flex: 0 22%;
    }
    .city-display,
    .forecast-area {
        margin: 25px 0px;
    }
    .params {
        font-size: 16px;
        margin: 15px 0px;
    }
    #clear-srch {
        width: 206px;
        height: 40px;
        margin: 2px;
    }
  }

  @media (max-width: 620px) {
    .forecast-rows {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    .forecast-display {
        flex: 0 25%;
        margin: 5px;
    }
    
  }
