
.main-container {
    margin-top: 30px;
    text-align: center;
}

.main-container,
.ans-buttons,
.btn {
    font-family: ubuntu, Arial, Helvetica, sans-serif;   
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.superMain-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leaderboard,
.time-remaining {    
    font-size: 14px;
}

h1 {
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    align-self: left;
}

.btn {
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-family: ubuntu, arial,sans-serif;
    background-color: rgb(15, 127, 255);
    font-size: 14px;
    padding: 0 16px;
    line-height: 12px;
    height: 31px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
}

.question-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.question {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    
}

.answers {
    display: none;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    margin: 1% 0% 0% 0%;
    border-width: 0px 0px 0px 0px;
    border-color: rgb(0, 119, 255);
    padding: 20px;

}

.ans-buttons {
    width: 60%;
    max-width: 300px;
    background-color:  rgba(0, 119, 255, 0.718);
    border-radius: 5px;
    color: white;
    text-align: left;
    padding: 5px;
    line-height: 1.3rem;
    border-style: none;
    margin: 7px;


}

.ans-buttons:hover {
    background-color:  rgb(0, 119, 255);
    border-style: solid;     
    padding: 4px 3px 4px 5px;
    border-width: 1px 0px 1px 0px;


}

#a1,
#a2,
#a3,
#a4 {
    outline: none;
}

.results-area {
    display: none;
    flex-direction: row;
    justify-content: center;
    
}

.result {
    margin: 5px 0px 0px 10px;
}

.option {
    line-height: 30px;
}

.input:focus {
    outline: none;
}
.input {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(218, 215, 215);          
    padding: 10px 15px 10px;
    margin: 0px 0px 0px 10px;
}  
.input:hover {
    border-width: 0px 0px 1px 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 10px 15px 10px;       

}

.high-scores {
    font-family: ubuntu, arial;
    display: none;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: row;
    margin-left: 27px;
    margin-top: 35px;
    justify-content: center ;
    
}

.controls1 {
    display: none;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 27px;
    align-items: center;
}

#add-score {
    background-color: rgb(0, 0, 0) ;
    margin: 2px 0px 0px 10px;
    border-width: 1px;
    border-style: solid;
}

#start {
    background-color: rgb(11, 201, 43);
}

.hs-buttons {
    margin-top: 30px;
}

table {
    width: 58%;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #00000027;
}
table tr:first-child {
    background-color: #000000;
    font-weight: bold;
    color: white;
}
tr {
    line-height: 30px;
}

#p-name li,
#p-score li,
#p-time li {
    border-color: grey;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-right: 10px;
}



#del-score {
    border: 0px;
    border-style: solid;
    display: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-family: ubuntu, arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 12px;
    height: 31px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 10px 0px 0px 10px;
    background-color: rgb(0, 0, 0);
}