:root {
--bluish: #008686;
--blue: #0AC2FF;
--fadedBlue: #0ac2ff41;
--goldish: #f2e456;
--dark: rgba(0, 0, 0, 0.692);
--green: #3DAC6E;
--fadedGrey: rgb(223, 223, 223);
--color1 : #ffffff;
--color2 : #ab4321;
--color3 : #0cc567;
}

body {
    font-family: ubuntu, arial;
}

.superMain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-time {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.table-display {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.today {
    text-align: left;
    border-collapse: collapse;
}

th {
    padding: 15px 0px 15px 5px;
    background-color: var(--bluish);
    color: #ffff;    
}



th:first-child {
    width: 10%;
    border-style: dashed;
    border-width: 0px 1px 0px 0px; 
}

th:nth-child(3) {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
}

th:nth-child(2) {
    width: 60%;
}

td:nth-child(1) {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: white; 
}

td:nth-child(3) {
    width: 10%;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 0px 1px;    
}

tr {
    border: solid;
    border-style:ridge;
    border-width: 1px 0px 1px 0px;
    border-color:rgba(0, 0, 0, 0.329);    
}

.past {
    background-color: var(--fadedGrey);
}

.present {
    background-color: var(--goldish);
    border-color: var(--goldish);
    border-width: 10px;
    border-style: solid;
    text-decoration: underline;
    text-emphasis: bold;
}

.future {
    background-color: var(--bluish);
}


td {
    padding-left: 5px;

}

.entry {
    line-height: 1.2rem;
    width: 100%;
    min-height: 60px;
    resize: none;
    padding: 5px 0px 0px 0px;
    border-style: none;
    outline: none;
    font-family: ubuntu, arial; 
    background-color: transparent;
    
}

.saveItem {


    color: black;

    text-align: center;
    cursor: pointer;
    user-select: none;

}
