:root {
--backG: rgb(160, 255, 234);
--boxes:  rgb(196, 230, 0);
--headers: rgb(20, 20, 20);
--innertext: #33393f;
--ruse: rgb(253, 171, 227);
--whitish: #ffffff;
--header: #33393f;
--gold: gold;
}

::selection {
    background-color: var(--whitish);
    color: var(--ruse);

}

main {
    margin: 0px;
}

body {
    background-color: var(--whitish);
    margin: 0;
}

header {
    padding: 2em;
    font-family: sans-serif;
    color: var(--header);
}

header h1 {
    display: inline-block;
    font-size: 2.5em;
}

/* header links */
header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.hdrimg {
    display: flex;
    padding-top: 1em;
    width: 100%;
    overflow: hidden;
    
}

#contact li {
    list-style-type: none;

}

a { 
    text-decoration: none;
    color:#33393f;

}

a:hover {
    text-decoration: underline;
    width: 90%;
    transition: 0.3s ease all;
} 

.cntnr p {
    color: var(--ptext)
}



.owner {
    display: flex;
    flex-direction: column;
    width: 95%;   
}

.cntnr {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px;
    background-color: var(--whitish);
    transition: 0.5s;
    margin: 1em 1em 1em 15em;
    z-index: 1;
    width: 80%;
}

.top::after {
    content: "";
    position: absolute;
  }

.cntnr .top::after {
    top: 50%;
    height: 2px;
    width: 0%;    
    background-color: var(--gold);
    transition: 0.2s ease all 0.2s;
  }
  
.cntnr:hover .top::after {
    width: 15%;
    transition: 0.2s ease all;
  }



.box {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 0px 0px 0px 20px;
}

.top {
    position: relative;
    text-align: left;
    line-height: 0px;
    margin: 15px 0px 10px 0px;
    padding-bottom: 37px;
    transition: 0.5s;
    font-size: 1.7em;
    background-color: var(--whitish);
}

.innerOwner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.innerOwner1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cont {
    margin: 5px;
    width: 99%;          
}


.imgbox {
    box-shadow: 0px 0px 2px 0px aliceblue;
}

.coverText {
    position: relative;
    bottom: 50px;
    color: black;
    background-image: linear-gradient(to right, rgba(255, 215, 0, 0), rgba(255,215,0,1));
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
}

.sMain {
    width: 100%;
  

}
.sOtherOwner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 99%;
    margin: -25px 5px 5px 5px
    
}

.imgOther {
    max-width: 100%;   
    min-height: 98%; 
    
}

.sOther {
    flex: 0 49%;
    margin-bottom: 15px;

    
}


.contactOwner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text1 {
    text-align: left;
    margin: 5px;
    width: 90%;
    
}

.input {
    width: 90%;
    margin: 10px 0% 0% 10%;
    padding-left: 10px;
}

#email, #phone {
    height: 25px;
    
}

#message {
    height: 135px;
    margin-bottom: 10px;
    padding-top: 10px;
    word-wrap: normal;
    
}

textarea {
    resize: none;
}


#contactButton, .seeDetails {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 23px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    }

#contactButton {
    margin-left: 74%;
    background-color: var(--gold);
    min-width: 170px;
}

.seeDetails {
    min-width: 100px;
    margin: 0% 4% 0% 4.5%;
}

.hide {
    display: none;
    margin: 0% 5.3% 0% 5.5%;

}

button:hover {
        border-width: 0.8px;
        border-color:black;
        border-style:solid;
        box-shadow: 1px 1px    rgb(0, 0, 0, 0.9);
        }


#ugh {
        border: 1px solid var(--backG);
        border-radius: 4px;
        color: var(--backG);
        background-color: var(--backG);
        font-family: arial,sans-serif;
        font-size: 14px;
        padding: 0 16px;
        line-height: 23px;
        height: 32px;
        text-align: center;
        user-select: none;
        }